In [1]:
import pandas as pd
import database_utils as utils
import data_extraction as ext
import data_cleaning as clean

# Connect to AWS RDS and pull legacy_users dataframe
# db_connector1 = utils.DatabaseConnector()
# extractor1 = ext.DataExtractor()
# df = extractor1.read_rds_table(db_connector1, "legacy_users")

# Clean data
# cleaner = clean.DataCleaning()
# clean_data = cleaner.clean_user_data(df)
# clean_data.head(40)
# clean_data.info()

# Upload to local db
# db_connector1.upload_to_db(clean_data, "dim_users", "db_credentials.yaml")


# Extracting card details
pdf_url = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"

ext1 = ext.DataExtractor()
card_df = ext1.retrieve_pdf_data(pdf_url)
card_df.head(40)

,card_number,expiry_date,card_provider,date_payment_confirmed,card_number expiry_date,Unnamed: 0
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25,NaN,NaN
1,349624180933183,10/23,American Express,2001-06-18,NaN,NaN
2,3529023891650490,06/23,JCB 16 digit,2000-12-26,NaN,NaN
3,213142929492281,09/27,JCB 15 digit,2011-02-12,NaN,NaN
4,502067329974,10/25,Maestro,1997-03-13,NaN,NaN
5,3506661913512980,11/23,JCB 16 digit,2003-08-25,NaN,NaN
6,377549437870679,07/27,American Express,2006-12-11,NaN,NaN
7,2321541881278150,02/29,Mastercard,1995-08-24,NaN,NaN
8,6011037917693140,02/24,Discover,1998-10-23,NaN,NaN
9,502049986008,07/23,Maestro,2011-04-30,NaN,NaN
10,6501622116456490,10/28,Discover,2006-03-11,NaN,NaN
11,6502495513721380,11/27,Discover,2021-10-11,NaN,NaN
12,3551071736826240,11/31,JCB 16 digit,1993-07-16,NaN,NaN
13,371493449732930,10/29,American Express,2014-11-08,NaN,NaN
14,3536516200696080,01/29,JCB 16 digit,2009-11-29,NaN,NaN
15,5222519319551540,01/26,Mastercard,2019-02-22,NaN,NaN
16,4537509987455280000,02/32,VISA 19 digit,2022-09-24,NaN,NaN
17,6011881097126120,10/26,Discover,1996-12-03,NaN,NaN
18,4204210033998580000,08/28,VISA 19 digit,2019-09-21,NaN,NaN
19,3540126062083770,09/32,JCB 16 digit,2021-04-27,NaN,NaN
20,180093132939478,05/30,JCB 15 digit,2004-12-30,NaN,NaN
21,3579161126932720,02/23,JCB 16 digit,2015-11-16,NaN,NaN
22,4045259395988290,06/28,VISA 16 digit,2011-01-23,NaN,NaN
23,4305628477334070000,07/24,VISA 19 digit,2017-03-06,NaN,NaN
24,6011112632675670,07/31,Discover,1999-02-08,NaN,NaN
25,370629659061970,10/30,American Express,2008-09-27,NaN,NaN
26,3565388078802970,03/32,JCB 16 digit,2016-10-28,NaN,NaN
27,4413511328768020,12/30,VISA 16 digit,1995-08-15,NaN,NaN
28,3510326851192930,10/31,JCB 16 digit,2001-06-30,NaN,NaN
29,30439078921644,12/25,Diners Club / Carte Blanche,1998-05-20,NaN,NaN
30,2296814173210180,06/24,Mastercard,2020-07-09,NaN,NaN
31,2297205767081190,10/30,Mastercard,2012-03-11,NaN,NaN
32,30280604114274,04/32,Diners Club / Carte Blanche,2005-04-22,NaN,NaN
33,4024414397695410000,05/28,VISA 19 digit,1997-10-02,NaN,NaN
34,4529390944325970,08/23,VISA 16 digit,2009-04-15,NaN,NaN
35,60485138139,08/27,Maestro,2022-11-18,NaN,NaN
36,4243023678099,02/23,VISA 13 digit,2021-07-05,NaN,NaN
37,4976058331830470000,08/26,VISA 19 digit,2021-09-29,NaN,NaN
38,4224188732297920,02/24,VISA 16 digit,1997-10-26,NaN,NaN
39,3514396157366920,03/29,JCB 16 digit,2004-11-06,NaN,NaN

In [27]:
card_df.info()
# print(list(card_df['card_provider'].unique()))

# Filter the DataFrame based on the specified card provider
filtered_df = card_df[card_df['card_provider'] == 'Maestro']

# Display the filtered DataFrame
# print(list(filtered_df['card_number']))

def lengths(target_provider):
    filtered_df = card_df[card_df['card_provider'] == target_provider]
    lens = []
    for num in filtered_df['card_number']:
        lens.append(len(str(num)))

    # Count unique lengths and their occurrences
    unique_lengths, counts = pd.Series(lens).value_counts().sort_index().index, pd.Series(lens).value_counts().sort_index().values

    return list(zip(unique_lengths, counts))

print(lengths('VISA 13 digit'))
print(len(card_df['card_number']))

# 'Diners Club / Carte Blanche', 'American Express', 'JCB 16 digit', 'JCB 15 digit', 'Maestro', 'Mastercard', 'Discover', 'VISA 19 digit', 'VISA 16 digit', 'VISA 13 digit'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   card_number              15254 non-null  object
 1   expiry_date              15254 non-null  object
 2   card_provider            15309 non-null  object
 3   date_payment_confirmed   15309 non-null  object
 4   card_number expiry_date  55 non-null     object
 5   Unnamed: 0               0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 717.7+ KB
[(3, 4), (13, 1376), (14, 1), (15, 1)]
15309

In [5]:
cleaner = clean.DataCleaning()
clean_card_df = cleaner.clean_card_data(card_df)
# clean_card_df.head(30)
clean_card_df.info()

c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:257: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['card_number'] = df['card_number'].astype(str)
c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['card_provider'] = df.apply(__clean_card_provider, axis=1)
c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:260: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['card_number'] = df.apply(__clean_card_number, axis=1)

<class 'pandas.core.frame.DataFrame'>
Index: 15285 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15103 non-null  object
 1   expiry_date             15231 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 597.1+ KB

c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_col] = df[target_col].astype(str).apply(parse_flexible_date)
c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_col] = pd.to_datetime(df[target_col], format=date_format, errors='coerce')
c:\Users\nikit\Desktop\AiCore\command_line\multinational-retail-data-centralisation901\data_cleaning.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_col] = df[target_col].astype(str).apply(process)

In [6]:
import database_utils as utils

con1 = utils.DatabaseConnector()
con1.upload_to_db(clean_card_df, "dim_card_details", "db_credentials.yaml")